<div class="board" 
data-game-id="<%= @game.try(:id) %>"
data-player1-id="<%= @player1.try(:id) %>"
data-player2-id="<%= @player2.try(:id) %>" >

  <ul class="letters">
  <li id="player1"></li>
  <li id="countdown">3</li>
  <li id="player2"></li>
  </ul>

  <table class="racer_table">

  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>










