<div class="wrapper">
  <div class="container">
    <form action="/start" method="post" id="startButton">
      <input type="text" name="player_1" placeholder="Player 1">
      <input type="text" name="player_2" placeholder="Player 2">
      <button>Start</button>
    </form>

    <ul>
      <% @players.each do |player| %>
      <li><%= player.name %> [ <%= player.won.size %> ]<li>
      <% end %>
    </ul>
  </div>
</div>
